body {
    background-color: #000021;
    background: #1c324e;
}


.Sign_in_form{
	position: absolute;
	background-color: #e8e8e8;
	border-radius: 10%; 
	margin: auto;
	top: 5%;
	left:0;
	right: 0;
	bottom: 0;
	height: 50%;
	width: 500px;
	padding: 20px;
}

.content{
	    display: block; 
        margin-left: 4%; 
        margin-right: auto;
}

lable{
    margin-top: 20px;
    margin-left: 18%;
    color: #435068;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 75px;
}

