body {
    background-color: #000021;
    background: #345e72;
}


.sign-in-form{
    border-radius: 0px 20px 20px 0px;
    box-shadow: 15px 17px 17px #133841;
    position: absolute;
    background-color: #ffffff;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 600px;
    width: 800px;
    padding-right: 30px;
}


.registration-form{
    border-radius: 0px 20px 20px 0px;
    box-shadow: 15px 17px 17px #133841;
    position: absolute;
    background-color: #ffffff;
    margin: auto;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 600px;
    width: 800px;
    padding-right: 30px;
}

.home-page{
    background-color: #e8e8e8; 
    margin: auto;
    top: 5%;
    left:0;
    right: 0;
    bottom: 0;
    height: 800px;
    width: 900px;
    padding: 20px;
}

.content{
	    display: block; 
        margin-left: 4%; 
        margin-right: auto;
}

lable.sign-in{
    margin-top: 40px;
    margin-left: 65px;
    color: #345e72;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 75px;
    font-size: 40px;
    font-weight: 500;
}


lable.registration{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    color: #345e72;
    font-size: 40px;
    font-weight: 500;
}


lable.home{
    margin-top: 20px;
    margin-left: 40%;
    color: #435068;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 75px;
}

button.sign-in{
    margin-top: 15%;
	margin-left: 10%;
	width: 80%;
}


button.registration{
	margin-left: 10%;
    margin-top: 15px;
	width: 80%;
}

button.home{
    margin-top: 25px;
    margin-left: 20%;
    width: 300px;
}

button.save-change{
    margin-top: 25px;
    margin-left: 105px;
    width: 200px;
}

.reg{ 
    position: relative;
    border: 3px solid white;
    background: none;
    border-radius: 50px;
    top: 360px;
    left: 150px;
    width: 220px;
    height: 50px;
    z-index: 10;
}

a.reg{
    position: initial;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.menu{
    width: 100%;
    background: #545fb1;
}

.list-navigation{
    display: flex;
    margin-left: 73%;
    list-style: none;
    padding: 0;

}

.nav-item{
    position: relative;
    margin: 0;
    padding: 0;
}

.nav-link{
    display: block;
    padding: .5rem 1rem;
    width: 150px;
    font-size: 17px;
    font-weight: 800;
    background-color: #545fb1;
    color: #ffffff;
}

.nav-link:hover {
    background-color: #ffffff;
    border-color:  #ffffff;
    color: #545fb1;
}

.home-img{
    border: 5px solid #6cadff;
    margin-left: 40%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: 200px;
}

.users-data{
    margin-top: 20px;
    height: 40px;
    padding-left: 25px;
    padding-top: 6px;
    outline: none;
    border-radius: 20px;
    width: 300px;
    resize: none;
    border: 1px solid #999;
}

.users-data-form{
    margin-top: 20px;
    background-color: #e8e8e8;
    margin-left: 22%;
    width: 500px;
    height: 350px;
}

lable.user-date{
    color: #435068;
    font-size: 20px;
    margin-left: 50px;
}

.users-picture{
    margin-left: 60px;
    background-color: #1c324e;
    min-width: 270px;
    max-width: 400px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 4px solid #1c324e;
}

.change-data-form{
    display: none;
}

.change-data-form.active{
    display: unset;
}


.change{
    margin-top: -50px;
    width: 400px;
    margin-left: -85%;
}

.users-data-form.unset-active{
     display: none;
} 

.coment-place{
    background-color: #a7dcff;
    margin: auto;
    margin-top: 5%;
    height: 500px;
    width: 800px;
    padding: 20px;
    overflow: scroll;
}

.coments-image{
    height: 65px;
    width: 65px;
    left: -90px;
    top: 10px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #a6a6ef;
}

.new-coment{
    background-color: #46b2fa;
    height: 130px;
    border: 2px solid #545fb1;
    border-radius: 20px;
}

textarea.new-coment{
    overflow: hidden;
    padding: 8px;
    padding-left: 10px;
    outline: none;
    width: 400px;
    height: 40px;
    max-height: 100px;
    resize: none;
    margin-top: 25px;
    border-radius: 0px;
    background-color: white;
}

textarea.last-coment{
    margin-top: -20px;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    outline: none;
    width: 400px;
    height: 40px;
    max-height: 100px;
    resize: none;
}

textarea.reply-coment{
    overflow: hidden;
    margin-left: 15px;
    margin-top: 15px;
    padding: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    outline: none;
    width: 400px;
    height: 40px;
    max-height: 100px;
    resize: none;
}

button.new-coment{
    margin-top: -120px;
    margin-left: 75%;
    height: 40px;
    width: 120px;
    border: 1px solid #1c324e;
    border-radius: 50px;
    background-color: #3f4eb7;
}

button.reply{
    margin-left: 330px;
    height: 35px;
    border: 0.5px solid #545fb1;
    background-color: #0c96f2;
    position: relative;
    top: -25px;
}

button.create-reply-comment{
    margin-left: 4px;
    height: 35px;
    position: relative;
    top: -30px;
    height: 40px;
    width: 100px;
    border: 0.5px solid #1c324e;
    border-radius: 50px;
    color: #545fb1;
    background-color: #ffffff;
}


.image-new-coments{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 25px;
    margin-top: -25px;
}

.dinam-size{

}

.media{
    display: block;
    margin-left: 100px;
}

.new-bar{
    display: inline; 
}

.user-name-title{
    color: white;
    margin-bottom: -10px;
    margin-top: -60px;
    font-size: 15px;
    font-weight: 600;
}

.reply-comment{
    display: none;
    position: relative;
    height: 70px;
    width: 550px;
    left: -100px;
    background-color: #7a83c7;
    margin-bottom: 20px;
    border: 2px solid #1c324e;
}

.replay-close{
   background-color: #dd3030 !important;
    position: relative;
    opacity: 100%;
    height: 29px;
    width: 26px !important;
    left: 2px;
    top: -2px;
    font-size: 1.9rem;
    color: #fff;
}

.u-n{
    margin-left: 50px !important: 
}

.child_coments{
 margin-left: 100px !important;
}

.bord{
    margin-left: -100px;
    margin-bottom: -20px;
    padding-left: 105px;
    width: 510px;
    height: 34px;
    background-color: #545fb1;
}

.tab-form{
    margin-left: 520px;
    margin-top: 100px;
}

.sign-up-form{
   margin-left: 520px;
}

.sign-in-image{
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 26%);
    position: absolute;
    height: 600px;
    width: 500px;
    z-index: 5;
}

img.sign-in-image{
    position: absolute;
    z-index: 2;
}

.form-control{
 box-shadow: inset 2px 2px 5px #747883, inset -5px -5px 10px #ffffff73 !important;
}


.btn-input{
    color: #fff !important;
    background-color: #66c8d5 !important;
    border-color: #66c8d5 !important;
}

lable.sign-up-height{
    position: absolute;
    color: white;
    margin-top: 125px;
    margin-left: 135px;
    font-size: 40px;
    margin-bottom: 75px;
}


lable.sign-up{
    position: absolute;
    color: white;
    margin-top: 125px;
    margin-left: 55px;
    font-size: 40px;
    margin-bottom: 75px;
}

.reg-content{
    position: absolute;
    margin-top: 80px;
    width: 250px;
} 

.sign-up-text{
    position: absolute;
    color: white;
    margin-top: 220px;
    width: 350px;
    margin-left: 115px;
    font-size: 20px;
    margin-bottom: 75px;
}   